.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.content {
  width: 1240px;
  display: flex;
  height: 912px;
  margin: auto;

}