.container {
    width: 1240px;
    display: flex;
    height: 912px;
    margin: auto;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
}

.feed{
    display: flex;
    flex-direction: column;
    width: 584px;
    height: 786px;
    overflow-y: scroll;
}
