.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    width: 570px;
    overflow: hidden;

}

.list_item {
    list-style-type: none;
    width: 272px;
    position: relative;
}

.price {
    display: flex;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    position: absolute;
    z-index: 1;
    right: 0;
}

.image {
    cursor: pointer;
}

.item_name {
    height: 48px;
}