.header {
    min-width: 1920px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    padding-left: 320px;
    padding-right: 320px;
    margin-top: 40px;
    align-items: center;
    position: relative;
    z-index: 1;

}


.navigationBlock {
    display: flex;
}

.navigationDescription {
    font-family: 'JetBrainsMono', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.logo {
    position: absolute;
    left: 815px;
    right: 815px;
    top: auto;
    bottom: auto;
    z-index: 2;
}

