.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    width: 592px;
    overflow: hidden;

}

.listItem {
    list-style-type: none;
    width: 272px;
}

.price {
    display: flex;
    align-items: center;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}